# Python
__pycache__/
*.pyc

# Données générées
docs/avancement/data/

# Conserver le dossier vide
!docs/avancement/data/.gitkeep
docs/avancement/data/raw_cves.json
docs/avancement/data/parsed_cves.json
docs/avancement/data/cert_agent.db
docs/avancement/alerts/